<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCz49pG6dXb0nHFfMONTpkGWy6azEA1o94</string>
	<key>GCM_SENDER_ID</key>
	<string>246575627680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.earanyak.app</string>
	<key>PROJECT_ID</key>
	<string>earanyak-6d102</string>
	<key>STORAGE_BUCKET</key>
	<string>earanyak-6d102.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246575627680:ios:c147d43de54edef882f8c5</string>
</dict>
</plist>